body{
    background-image: url("font1.jpg");
    background-position: center;
    background-size: cover;
}





h1{text-align: center;
    text-transform: capitalize;
    border: 2px solid rgb(7, 7, 7);
    border-radius: 10px;
    color: rgb(67, 141, 214);
    background-color: rgb(8, 8, 8);
    text-decoration: green;

}


section[id="countdown"]
{
    width: 800px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;

    }


section[id="countdown"] > span
{
    user-select: none;
    background: -moz-linear-gradient(to right, #d1913c, #ffd194);
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: relative;

} 

section[id="countdown"] > span::after
{
    content: attr(data-unit-name);
    height: 50px;
    width: 150px;
    position: absolute;
    bottom: -50%;
    font-size: 1.5rem;
    background-color: #000000;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

}




